# Data Cleaning
- Will consist of creating a pipeline for Natural Language Processing utilizing different methods

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
raw = pd.read_csv('data/mbti_1 2.csv')

In [3]:
raw.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [4]:
raw['posts'].apply(lambda x: len(x.split(' '))).sum()

10953740

In [3]:
from src.personality import clean_df

In [4]:
newclean = clean_df(raw)

accents removed......... (1/5)
links removed........... (2/5)
lxml removed............ (3/5)
symbols/numbers replaced (4/5)
words stemmed........... (5/5)

In [5]:
newclean['posts'].apply(lambda x: len(x.split(' '))).sum()

11002164

In [6]:
# words = pipeline(raw)

In [7]:
# words.to_pickle('words_df.pkl')
words= pd.read_pickle('data/words_df.pkl')
words.head()

   type                                              posts
0  INFJ  [life-chang, experi, life, may, perc, experi, ...
1  ENTP  ['m, find, lack, post, alarm, sex, bore, 's, p...
2  INTP  [cours, say, know, 's, bless, curs, absolut, p...
3  INTJ  [dear, intp, enjoy, convers, day, esoter, gab,...
4  ENTJ  [you, re, fire, 's, anoth, silli, misconcept, ...

In [8]:
# sentences = pipeline(raw)
# sentences.posts = sentences.posts.apply(lambda x: ' '.join(x))
# sentences.to_pickle('sentences.pkl')

In [9]:
sentences = pd.read_pickle('data/sentences.pkl')
sentences.head()

   type                                              posts
0  INFJ  what has been the most life-chang experi in yo...
1  ENTP  i 'm find the lack of me in these post veri al...
2  INTP  of cours to which i say i know that 's my bles...
3  INTJ  dear intp i enjoy our convers the other day es...
4  ENTJ  you re fire that 's anoth silli misconcept tha...

In [10]:
sentences['posts'].apply(lambda x: len(x.split(' '))).sum()

11465801

In [11]:
# sentences.to_pickle('sentences.pkl')

In [12]:
# sent2 = clean_df(raw)
# sent2.head()

In [13]:
# sent2[sent2.type == 'ESFJ']['posts'].apply(lambda x: len(x.split(' '))).sum()

In [14]:
# sent2.to_pickle('sent2.pkl')

In [15]:
sent2 = pd.read_pickle('data/sent2.pkl')
sent2.head()

   type                                              posts
0  INFJ  lifechang experi life may perc experi immers h...
1  ENTP  im find lack post alarm sex bore posit often e...
2  INTP  cours say know that bless curs absolut posit b...
3  INTJ  dear intp enjoy convers day esoter gab natur u...
4  ENTJ  your fire that anoth silli misconcept approach...

In [16]:
# emo_df = text_emotion(sent2,'posts')

In [17]:
# emo_df.to_pickle('emo_df.pkl')
emo_df = pd.read_pickle('data/emo_df.pkl')
emo_df.head()

emotion,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
0,3,22,2,3,11,14,22,4,6,13
1,14,23,8,15,21,24,37,12,17,18
2,7,26,5,12,26,17,42,9,13,31
3,6,14,4,7,6,14,30,7,2,20
4,17,30,15,13,23,29,43,14,15,24